<div class="container m-5 py-5">
     <div class="col-6">
        <h1>CHAT en WebSocket</h1>
        <input id="user" placeholder="Ingresa tu nombre">    
        <div class="back scroll pb-5" style="height: 70vh; overflow-y: scroll;">
            <div id="nodo">
                  <div id="child"></div>
            </div>
        </div>
        <input id="text_chat">    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/indexChat.js"></script>