<div class="content">
   <div class="row d-flex align-items-center justify-content-center h-100 m-5">
      <div class="col-md-7 col-lg-5 col-xl-5"></div>
      <h3>Login</h3>
      <form id="formLogin">
         <div class="form-outline mb-4">
            <input placeholder="email" type="email" id="email" name="email" required>
         </div>
         <div class="form-outline mb-4">
            <input placeholder="Contraseña" type="password" id="password" name="password" required>
         </div>
         <button class="btn btn-primary" type="submit">Iniciar sesión</button>
      </form>
      <a href="/api/session/github"><button class="btn btn-secondary my-3">Continuar con GitHub</button></a>
      <a class="mb-3" href="/resetPassword">¿Olvidó la contaseña?</a>
      <a href="/register"><button class="btn btn-success">Registrarse</button></a>
   </div>
</div>
</div>

<script src="/login.js"></script>