<div class="container">
    <div class="row">
        <div class="col-4 px-3">
           <div class="row">
            <h2 class="mt-5 mb-5">Lista de productos</h2>
              <div id="nodo">
                <div id="hijo"></div> 
              </div>
           </div>
        </div>
        <div class="col 4 px-3">
            <div class="row">
                <h2 class="mt-5 mb-5">Carga de productos</h2>
                    <form id="primeForm">
                        <input type="text" id="title" name="titulo" placeholder="Nombre Producto" required>
                        <br>
                        <br>
                        <input type="number" id="price" name="precio" placeholder="Precio" required>
                        <br>
                        <br>  
                        <input type="number" id="stock" name="stock" placeholder="Stock" required>
                        <br>
                        <br>
                        <input type="text" id="thumbnail" name="thumb" placeholder="Aca se carga la foto">
                        <br>
                        <br>
                        <input type="text" id="description" name="descripcion" placeholder="Descripcion">
                        <br>
                        <br>
                        <input type="text" id="category" name="categoria" placeholder="Categoria" required>
                        <br>
                        <br>
                        <input type="number" id="code" name="code" maxlength="3" placeholder="Codigo de producto" required>
                        <br>
                        <br>
                        <button id="agregar" class="btn btn-success">Enviar</button>
                    </form>
            </div>
        </div>
        <div class="col 4 px-3">
            <div class="row">
                <h2 class="mt-5 mb-5">Borrar producto</h2>
                <form id="secondForm">
                    <input id="id" type="number" name="id" placeholder="Ingrese el ID"><br><br>
                    <button id="borrar" class="btn btn-danger ">Borrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>

