<div class="content">
   <div class="row d-flex align-items-center justify-content-center h-100 m-5">
      <div class="col-md-7 col-lg-5 col-xl-5"></div>
      <h3>Registrarse</h3>
      <form id="formRegister">
         <div class="form-outline mb-4">
            <input placeholder="Nombre" type="text" id="first_name" name="first_name" required>
         </div>
         <div class="form-outline mb-4">
            <input placeholder="Apellido" type="text" id="last_name" name="last_name" required>
         </div>
         <div class="form-outline mb-4">
            <input placeholder="email" type="email" id="email" name="email" required>
         </div>
         <div class="form-outline mb-4">
            <input placeholder="edad" type="number" id="edad" name="edad" required>
         </div>
         <div class="form-outline mb-4">
            <input placeholder="Contraseña" type="password" id="password" name="password" required>
         </div>
         <button class="btn btn-primary" type="submit">Registrarse</button>
         <a href="/">Ir a login</a>
      </form>
   </div>
</div>
</div>

<script src="/register.js"></script>